In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [11]:
titanic = pd.read_csv("titanic-passengers.csv", sep= ";", encoding="iso-8859-1")
df = titanic.copy()

In [12]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [13]:
total = df.isnull().sum().sort_values(ascending=False)
percent_1 = df.isnull().sum()/df.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data.head(5)

             Total     %
Cabin          687  77.1
Age            177  19.9
Embarked         2   0.2
PassengerId      0   0.0
Survived         0   0.0

In [14]:
# Drop rows that has missing values 
df = df.dropna(subset=['Embarked'])

In [15]:
# Drop rows that has missing values 
df.drop(['Cabin', 'Name', 'PassengerId', 'Ticket', 'Fare'], axis=1, inplace=True)

In [16]:
df['Pclass'].value_counts()

3    491
1    214
2    184
Name: Pclass, dtype: int64

In [17]:
df['Sex'].value_counts()

male      577
female    312
Name: Sex, dtype: int64

In [18]:
df['SibSp'].value_counts()

0    606
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [19]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [20]:
df['Parch'].value_counts()

0    676
1    118
2     80
3      5
5      5
4      4
6      1
Name: Parch, dtype: int64

In [21]:
df = pd.get_dummies(data=df, columns=['Sex', 'Pclass', 'Embarked', 'SibSp', 'Parch'], drop_first=True)

In [22]:
df.head(2)

,Survived,Age,Sex_male,Pclass_2,Pclass_3,Embarked_Q,Embarked_S,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,SibSp_8,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6
0,No,28.0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,No,25.0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [23]:
df['Survived'] = df['Survived'].map({
    'Yes': 1,
    'No' : 0
})

In [24]:
df.isna().sum()

Survived        0
Age           177
Sex_male        0
Pclass_2        0
Pclass_3        0
Embarked_Q      0
Embarked_S      0
SibSp_1         0
SibSp_2         0
SibSp_3         0
SibSp_4         0
SibSp_5         0
SibSp_8         0
Parch_1         0
Parch_2         0
Parch_3         0
Parch_4         0
Parch_5         0
Parch_6         0
dtype: int64

In [39]:
from sklearn.impute import SimpleImputer

In [40]:
imputer = SimpleImputer(strategy='mean')

In [41]:
cols = X_train.columns
X_train = pd.DataFrame(imputer.fit_transform(X_train), columns=cols)
X_test = pd.DataFrame(imputer.transform(X_test), columns=cols)

In [ ]:
Specifying the dependent and independent variables

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=21, test_size=0.2, stratify=y, shuffle=True)

In [62]:
clf = DecisionTreeClassifier(random_state = 10)

In [82]:
# target (y) , features(X)
y = df.drop(['Age','Sex_male','Pclass_2','Pclass_3','Embarked_Q','Embarked_S','SibSp_1','SibSp_2','SibSp_3','SibSp_4','SibSp_5','SibSp_8','Parch_1','Parch_2','Parch_3','Parch_4','Parch_5','Parch_6'], axis=1)
X = df.drop('Survived',axis=1)

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=21, test_size=0.2, stratify=y, shuffle=True)

In [86]:
# Training model
clf=clf.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').